* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  display: grid;
}

.header-name {
  text-align: center;
  width: 100%;
  padding: 2%;
  font-weight: 800;
  background-color: rgb(212, 231, 248);
  font-size: 43px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(7, 155, 7);
}
nav {
  display: flex;
  justify-content: right;
  background-color: rgb(248, 156, 17);
}
nav a {
  padding: 1% 2.5% 1% 2.5%;
  background-color: rgb(248, 156, 17);
  color: rgb(7, 155, 7);
  ;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  font-family: cursive;
}
nav a:hover {
  background-color: rgb(212, 231, 248);
  color: rgb(248, 156, 17);
}
#root {
  display: grid;
  width: 25%;
}
#root input {
  padding: 3%;
  margin: 10%;
  background-color: rgb(212, 231, 248);
  border: 0px;
  outline: none;
  border: 1px solid transparent;
  color: rgb(248, 156, 17);
}
#root2{
    display: flex;
    height: 100%;
    width: 75%;
    margin-left: 2.5%;
    
}
#root2 input {
  flex: 75%;
  padding: 3%;
  width: 75%; 
  /* height: 100%; */
  background-color: rgb(212, 231, 248);
  font-family: cursive;
  border: none;
  color: rgb(248, 156, 17);
  outline: none;
  border: 1px solid transparent;
}
#root input[type="text"]:focus,#root2 input[type="text"]:focus{
    border: 1px solid rgb(170, 166, 166);
}
#root2 button{
  flex: 25%;
  border: 0px;
  cursor: pointer;
  background-color: rgb(248, 156, 17);  
}
#root2 button:hover{
  background-color: rgb(214, 208, 208);
}
.icon-btn:hover{
    background-color: rgb(214, 208, 208);
    color: rgb(248, 156, 17);
    cursor: pointer;
}
.icon-btn{
  display: flex;
  padding: 3%;
  background-color: rgb(248, 156, 17);
  color: rgb(7, 155, 7);
}
#root-div{
  color: rgb(248, 156, 17);
  font-weight: 900;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

marquee {
  color: aqua;
}
